@{
    ViewBag.Title = "Catalog";
}

<div ng-controller="shopCatalogController">

    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
            <!-- Products grid -->
            <div class="row">

                <div class="col-md-4" ng-repeat="element in products">
                    <div class="panel  panel-primary">
                        <div class="panel-heading text-center">
                            <h4>{{element.Name}}</h4>
                        </div>
                        <div class="panel-body">
                            <div>
                                <img ng-src="{{element.PictureUrl}}" c class="img-responsive" />
                            </div>
                            <div>
                                <p>{{element.Description}}</p>
                            </div>
                            <div><strong>@TryCatch.WebShopCase.WebSite.Resources.Resources.Display_GeneralView_Price  :</strong> {{element.Price}} €</div>
                        </div>
                        <div class="panel-footer text-center">
                            <a class="btn btn-info" ng-click="showProductDetailsPopUp(element)" role="button">Details</a>
                            <a class="btn btn-success" ng-click="addToCart(element)" role="button">Add to cart &raquo;</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Grid pagination -->
            <div class="row pull-right">
                <pagination ng-model="pagingInfo.page"
                            total-items="pagingInfo.totalItems"
                            items-per-page="pagingInfo.itemsPerPage"
                            ng-change="pageChanged()"
                            max-size=" 10"></pagination>
            </div>
        </div>

        <!-- Shoping cart -->
        <div class="col-xs-12 col-sm-3 sidebar-offcanvas" id="sidebar">
            <div class="pull-right">
                <div class="panel  panel-info">
                    <div class="panel-heading text-center">

                        <h5><i class="glyphicon glyphicon-shopping-cart"></i> @TryCatch.WebShopCase.WebSite.Resources.Resources.Display_GeneralView_ShoppingCart</h5>
                    </div>
                    <div class="panel-body text-center">
                        
                            <div class="col-xs-12">
                                <p>
                                    @TryCatch.WebShopCase.WebSite.Resources.Resources.Display_GeneralView_Products:

                                    <b>({{getCartNumberOfProducts()}}) </b>
                                </p>
                            </div>
                        
                        
                            <div class="col-xs-12">
                                <p>
                                    @TryCatch.WebShopCase.WebSite.Resources.Resources.Display_GeneralView_SubTotal:

                                    {{getCartSubtotal()}} €
                                </p>
                            </div>
                        
                    </div>
                    <div class="panel-footer text-center">

                        <p> @Html.ActionLink(TryCatch.WebShopCase.WebSite.Resources.Resources.Display_GeneralView_Details, "Index", "Cart", null, new { @class = "btn btn-primary" })</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pop up (angulasJS modal) for product details-->
        <script type="text/ng-template" id="ProductDetailsPopUp">
            <div class="modal-header">
                <h3 class="modal-title">
                    <i class="glyphicon glyphicon-share"></i>
                    <span>{{selectedProductForDetails.Name}}</span>
                </h3>
            </div>
            <div class="modal-body">
                <div class="panel  panel-primary">
                    <div class="panel-heading text-center">
                        <h4>{{selectedProductForDetails.Name}}</h4>
                    </div>
                    <div class="panel-body">
                        <div>
                            <img ng-src="{{selectedProductForDetails.PictureUrl}}" c class="img-responsive" />
                        </div>
                        <div>
                            <p>{{selectedProductForDetails.Description}}</p>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <strong>@TryCatch.WebShopCase.WebSite.Resources.Resources.Display_GeneralView_Price:</strong> {{selectedProductForDetails.Price}} €
                            </div>
                            <div class="col-md-4">
                                <strong>@TryCatch.WebShopCase.WebSite.Resources.Resources.Display_GeneralView_Vat:</strong> {{selectedProductForDetails.VatPercentage}} %
                            </div>
                            <div class="col-md-4">
                                <strong>@TryCatch.WebShopCase.WebSite.Resources.Resources.Display_GeneralView_Total:</strong> {{getFinalPrice(selectedProductForDetails)}} €
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="addToCart(selectedProductForDetails); $dismiss();">@TryCatch.WebShopCase.WebSite.Resources.Resources.Display_GeneralView_AddToCart &raquo;</button>
                <button class="btn btn-info" ng-click="$dismiss()">@TryCatch.WebShopCase.WebSite.Resources.Resources.Display_GeneralView_Close</button>
            </div>
        </script>


    </div>
    <hr>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/catalogScripts")
}
