<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - TryCatch shop</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/mainThemeCss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapJs")
    @Scripts.Render("~/bundles/angularJs")
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">TryCatch shop</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>

                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container" ng-app="demoShop">
        <div class="row">
            <div class="container" ng-app="demoShop">
                @if (ViewData[TryCatch.WebShopCase.WebSite.Common.Enums.MessageType.Success.ToString()] != null)
                {
                    <div class="row">
                        <div class="alert alert-success" role="alert">
                            <p>@ViewData[TryCatch.WebShopCase.WebSite.Common.Enums.MessageType.Success.ToString()].ToString()</p>
                        </div>
                    </div>
                }
                @if (ViewData[TryCatch.WebShopCase.WebSite.Common.Enums.MessageType.Warning.ToString()] != null)
                {
                    <div class="row">
                        <div class="alert alert-warning" role="alert">
                            <p>@ViewData[TryCatch.WebShopCase.WebSite.Common.Enums.MessageType.Warning.ToString()].ToString()</p>
                        </div>
                    </div>
                }
                @if (ViewData[TryCatch.WebShopCase.WebSite.Common.Enums.MessageType.Error.ToString()] != null)
                {
                    <div class="row">
                        <div class="alert alert-danger" role="alert">
                            <p>@ViewData[TryCatch.WebShopCase.WebSite.Common.Enums.MessageType.Error.ToString()].ToString()</p>
                        </div>
                    </div>
                }
            </div>
        </div>
        <br />
        <div class=" row">
            @RenderSection("featured", required: false)

            @RenderBody()
        </div>
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - Javier Cervera Cano Shop demo</p>
        </footer>
    </div> <!-- /container -->
    @Scripts.Render("~/bundles/mainAngularApp")
    @RenderSection("scripts", required: false)
</body>
</html>
